


 <div class="contact-formular">
    <label>Name</label>
    <input type="text" name="name" placeholder="Enter your name" required="requiredn">

    <label> Email Adress</label>
    <input type="email" name="email" placeholder="Enter your Email address">
    
    <label>Messae</label>
    <input  name="message" placeholder="Enter your message" class="textarea">
    
    <div class="button-con">
        <button  type="submit"  class="contact-button">Send</button>
        
    </div>
</div>adsdasd